/*---------------- google fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/*---------------- common styles ---------------- */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px dashed rgb(214, 174, 214);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.main-content {
    display: flex;
}



/*---------------- top banner styles ---------------- */
.top-banner {
    display: flex;
    width: 85%;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 50px;
}

.top-banner:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px gray;
    text-shadow: 2px 2px black;
}

.banner-text {
    width: 50%;
    padding: 111px 0;
    padding-left: 106px;
    padding-right: 24px;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
    margin-top: -5px;
}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffffd2;
    text-shadow: 2px 2px black;
    margin-top: -20px;
}

.banner-text span {
    margin-left: 15px;
}

.banner-img {
    width: 60%;
    position: relative;
}

.banner-img img {
    width: 86%;
    position: absolute;
    right: 13%;
    bottom: 0;
}

.top-banner:hover .banner-img img {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    right: 20%;
    opacity: .9;
    transition: width 2s, height 3s, transform ease-in-out 5s;
}

.btn {
    width: 187px;
    height: 56px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
    background-color: #DD0000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn:hover {
    background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
    box-shadow: 3px 3px 3px rgb(83, 88, 84);
}



/*---------------- left sidebar styles ---------------- */
.left-sidebar {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}

.sidebar-btn {
    width: 252px;
    height: 64px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #161616;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-btn:hover {
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    box-shadow: 3px 3px 3px rgb(21, 83, 83);
}

#blog-btn,
#match-btn,
#group-btn {
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    color: #FFFFFF;
}



/*---------------- right blogs styles ---------------- */
.right-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blog {

    width: 317px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 3px 3px 10px lightgray;
}

.blog:hover {
    margin-top: -10px;
    transition: .8ms;
    box-shadow: 1px 1px 15px gray;
}

.blog img {
    width: 317px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.blog-details {
    padding: 0px 20px;
}

.live-btn {
    width: 100px;
    height: 32px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    margin-top: 20px;
    color: #161616;
    border: 1px solid #161616c7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    background-color: rgba(211, 211, 211, 0.349);
}

.blog h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}

.blog-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}

.blog-info span {
    margin-right: 24px;
}

.fa-solid {
    margin-right: 10px;
    margin-left: 0px;
    font-size: 20px;

}

#view {
    display: none;
}



/*---------------- right matches styles ---------------- */
.right-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.match {
    width: 317px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 3px 3px 10px lightgray;
}

.match:hover {
    margin-top: -10px;
    transition: .8ms;
    box-shadow: 1px 1px 15px gray;
}

.match-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 53px;
}

.match-img img {
    width: 93px;
    height: 56px;
}

.match-img p {
    font-weight: 700;
    font-size: 16px;
    color: #161616;
}

.match-details h3 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #161616;
}

.match-details p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
    margin-top: -10px;
}



/*---------------- footer styles ---------------- */
.footer-details {
    width: 100%;
    height: 405px;
    background-color: #161616;
    margin-top: 110px;
    padding-top: 70px;
}

.footer-details h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.footer-details hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-tab p,
.footer-social-icons p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    padding: 30px;
}

.footer-tab a {
    text-decoration: none;
    font-weight: 500;
    color: #B9B9B9;
}

.footer-social-icons {
    text-align: center;
    margin-top: -50px;
}

.footer-social-icons p {
    font-size: 17px;
}

.fa-brands {
    font-size: 22px;
    padding: 15px;
}

.fa-facebook {
    color: #4267B2;
}

.fa-youtube {
    color: #FF0000;
}

.fa-twitter {
    color: #00acee;
}

.copyright-text {
    text-align: center;
    padding-bottom: 30px;
}

.copyright-text span {
    color: #FFFFFF;
}

.copyright {
    text-decoration: none;
    color: blueviolet;
    font-size: 17px;
    font-weight: 500;
}

.copyright:hover {
    color: #00acee;
}



/*---------------- media query styles ---------------- */

/*---------------- media query for mobile devices ---------------- */
@media only screen and (min-width:280px) and (max-width:576px) {
    body {
        margin: 0 auto;
    }

    .main-content {
        flex-direction: column;
    }

    .top-banner {
        width: 85%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 30px;
    }

    .banner-text {
        width: 80%;
        padding: 0 0;
        margin: 35px auto;
    }

    .banner-text h1 {
        font-size: 26px;
        line-height: 40px;
        text-align: center;
    }

    .banner-text p {
        line-height: 28px;
        text-align: center;
        margin-top: 10px;
    }

    .short-text-p {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-img {
        width: 80%;
        height: 60%;
        position: relative;
    }

    .banner-img img {
        width: 90%;
        height: 100%;
        bottom: 0;
        left: 5%;
        position: absolute;
    }

    .banner-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 160px;
        height: 50px;
        margin-top: 10px;
        padding: 0 10px;
    }

    .left-sidebar {
        background-color: #FFFFFF;
        margin-left: 20px;
        margin-top: -135px;
        margin-bottom: 10px;
    }

    .sidebar-btn {
        border: 1px solid #E8E8E8;
    }

    .right-blogs,
    .right-matches {
        grid-template-columns: repeat(1, 1fr);
        margin-top: -10px;
        margin-left: 25px;
        margin-bottom: -70px;
    }

    #blog7,
    #blog8,
    #blog9 {
        display: block;
    }

    #view {
        display: none;
    }


    .footer-details {
        height: 100%;
        width: 100%;
        margin-bottom: -30px;
    }

    .footer-tab {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .footer-social-icons p {
        display: flex;
        flex-direction: column;
    }

}



/*---------------- media query for tablet devices ---------------- */
@media only screen and (min-width:577px) and (max-width:991px) {
    body {
        margin: 0 auto;
        border: 2px dashed plum;
    }

    .main-content {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .top-banner {
        width: 80%;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .banner-text {
        width: 45%;
        height: 70%;
        padding: 0 0;
        margin: 0 20px;
        margin-left: 45px;
        margin-bottom: 20px;
    }

    .banner-text h1 {
        font-size: 35px;
        line-height: 43px;
    }

    .banner-text p {
        font-size: 15px;
        line-height: 28px;
        margin-top: -10px;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
    }

    .banner-img {
        width: 50%;
        height: 82%;
        position: relative;
        margin-bottom: -70px;
    }

    .banner-img img {
        width: 90%;
        height: 100%;
        bottom: 0;
        left: 5%;
        position: absolute;
    }

    .banner-btn {
        margin-top: 20px;
    }

    .btn {
        width: 160px;
        height: 50px;
        margin-top: 10px;
        padding: 0 10px;
    }

    .left-sidebar {
        width: 85%;
        background-color: #FFFFFF;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: -100px;
    }

    .sidebar-btn {
        border: 1px solid #E8E8E8;
    }

    .right-blogs,
    .right-matches {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: -10px;
        margin-bottom: -70px;
        margin: auto;
        padding: 0;
    }

    .blog,
    .match {
        width: 100%;
        height: 100%;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        box-shadow: 3px 3px 10px lightgray;
    }

    .blog img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .blog-details,
    .match-details {
        padding: 0 20px;
        margin-bottom: 15px;
    }

    #blog7,
    #blog8,
    #blog9 {
        display: none;
    }

    #view {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }

    .view-btn {
        width: 150px;
        height: 40px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
        background-color: #DD0000;
        border-radius: 5px;
        text-align: center;
        padding-top: 10px;
    }

    .view-btn:hover {
        background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
        box-shadow: 3px 3px 3px rgb(83, 88, 84);
    }



    .footer-details {
        height: 100%;
        width: 100%;
        margin-bottom: -30px;
    }

    .footer-tab {
        flex-wrap: wrap;
        margin-bottom: 80px;
    }

    .footer-tab p {
        margin-bottom: -35px;
    }
}